@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_PaneLayout.cshtml";
}
@section leftnav
{}
<h1>StoryMark</h1>
<p>
    An opinionated fiction editor. It includes the features I personally want and need. It does not and will not contain other features.
</p>
<h2>WARNING</h2>
<p>
    This app is currently in development. Creating new features and fixing bugs sometimes requires that I dump the data. DO NOT make this your only copy 
    of what you're writing. When it's stable enough to rely on, I'll adjust this message.
</p>
<h2>Register/Login</h2>
<p>
    Currently uses Google for logins.
</p>
<button class="btn btn-primary" onclick="webAuth.authorize();">Log In</button>